/* Nakia Crumbo, 6/15/2020, About A Company, menubar.css */
/* Menu Bar */
div.menubar ul.menubar {
  position: relative;
  list-style: none;
  background-color: blue;
  text-align: right;
  padding-right: 200px;
}

div.menubar li.menubar {
  display: inline-block;
}

div.menubar a.menubar {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px silver;
  width: 200px;
  display: block;
  padding: 0px;
  line-height: 50px;
  height: 50px;
}

div.menubar a.menubar:hover {
  background-color: #000099;
}

div.menubar a.menubar:active {
  background-color: #000099;
  color: silver;
  text-shadow: 1px 1px white;
}
