/* Nakia Crumbo, 6/15/2020, About A Company, style.css */
/* Bottom content */
div.mainbox {
  position: relative;
  background-color:  red;
  height: 150px;
  width: auto;
}
div.mainbox2 {
  position: absolute;
  width: auto;
  top: 60px;
  left: 400px;
}
span.bottommain {
  color: Blue;
  text-shadow: 1px 1px black;
  font-size: 40px;
  text-align: center;
}
