/* Nakia Crumbo,  6/27/2020, Fit For Fun Fitness Club, head.css */
.head {
  height: 100px;
  width: auto;
}

h2 {
  font-size: 2em;
  font-family: sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 35px;
}
