/* Nakia Crumbo, 6/19/2020, Lab: Positioning Practice, style.css */
body {
  background-color: #57dd9e;
  padding: 35px;
}

div.container {
  width: 85%;
  margin: auto;
  border-color: #029372;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  padding: 20px 20px 0 20px
}

footer {
  background-color: #e7325b;
  color: #fdc6d6;
  padding: 7px 20px;
  margin: 10px -20px 0 -20px
}

.fab {
  color: rgba(0, 0, 255, 0.5);
  font-size: 2em;
  padding-right: 5px;
}

/* Fixed Positioning */
.socialmedia {
  position: fixed;
  top: 0px;
  right: 10px;
}

/* Relative Positioning */
h1 {
  position: relative;
  top: 10px;
  left: 5px;
}

/* default position:static */

/* Absolute Positioning */
/* Positioned from a parent that is NOT static */
div {
  position: relative;
}
img {
  position: absolute;
  bottom: -45px;
  right: -50px;
  z-index: 100;
}

/* Sticky Positioning */
/* Z-index */

footer {
  position: sticky;
  top: 0px;
}
